DOMAIN=localhost
ENVIRONMENT=local
PROJECT_NAME="Full Stack FastAPI Project"
STACK_NAME=full-stack-fastapi-project

NEXT_PUBLIC_API_URL=http://localhost:8000
FRONTEND_HOST=http://localhost:3000

BACKEND_CORS_ORIGINS="http://localhost,http://localhost:3000,https://localhost,https://localhost:3000"
SECRET_KEY=your-secret-key-here
FIRST_SUPERUSER=admin@example.com
FIRST_SUPERUSER_PASSWORD=your-superuser-password-here
SENTRY_DSN=

SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL=info@example.com
SMTP_TLS=True
SMTP_SSL=False
SMTP_PORT=587

MYSQL_SERVER=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=app
MYSQL_USER=app_user
MYSQL_PASSWORD=your-mysql-password-here
MYSQL_ROOT_PASSWORD=your-mysql-root-password-here

DOCKER_IMAGE_BACKEND=backend
DOCKER_IMAGE_FRONTEND=frontend

# UID=1000
# GID=1000
